<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="Argus"
      Manufacturer="Varun S V"
      Version="$(Version)"
      UpgradeCode="3F5E6BD9-95D5-5E4F-9C3A-DF93D4314D07"
      Language="1033"
      Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Argus is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="Argus">
        <Directory Id="GUIFOLDER" Name="Argus">
          <Component Id="ArgusGuiComponent">
            <File
                Id="ArgusGuiExecutable"
                Source="$(SourceDir)\Argus\Argus.exe"
                KeyPath="yes">
              <Shortcut
                  Id="ArgusStartMenuShortcut"
                  Directory="ProgramMenuFolder"
                  Name="Argus"
                  Description="Argus autonomous application testing"
                  WorkingDirectory="INSTALLFOLDER" />
            </File>
          </Component>
        </Directory>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder" />

    <Feature Id="MainFeature" Title="Argus" Level="1">
      <ComponentRef Id="ArgusGuiComponent" />
      <Files Directory="INSTALLFOLDER" Include="$(SourceDir)\*" />
      <Files Directory="GUIFOLDER" Include="$(SourceDir)\Argus\**">
        <Exclude Files="$(SourceDir)\Argus\Argus.exe" />
      </Files>
    </Feature>
  </Package>
</Wix>
